<%= stylesheet_link_tag 'home' %>


<h1>Blogs</h1>
<div id="cont" style="height:50rem;">
  <div class="card" style="max-width: 900px; height: 200px; display:flex; flex-direction:row;">
          <div class="leftct" style="display: flex; justify-content: center;">
            <div class="titl">hgfkbkgfb</div>
            <div class="content">Your content goes here</div>
            <div class="downbar"></div>
          </div>
        <div class="rightct" style="width: 200px; text-align: center;">
          <%= image_tag 'cover', width: 180, height: 180%>
        </div>
 
  </div>
</div>
 
<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%= link_to "Show this blog", blog %>
    </p>
  <% end %>
</div>


