<%= render 'home/navbar'%>
<%= stylesheet_link_tag 'newblog' %>

<div class="containers">
   <h1 class="fw-bold text-center">New blog</h1>

   <%= render "form", blog: @blog %>

   <br>

   <div class="d-grid gap-2 d-md-block">
     <%= link_to "Back to blogs", blogs_path ,class:"btn btn-primary" %>
   </div>
</div>



