<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= comment.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= comment.dislikes %>
  </p>

</div>
