
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
h1{
    padding-top: 1em;
}
#container {
    display: flex;
    min-height: 85vh;
    flex-direction: row-reverse;
    /* border: 2px solid grey;
    background-color: #ffaf7f; */
    justify-content: center;
    padding: 1em 3em;

}

.left {
    width: 60%;
    object-fit: cover;
    display: flex;
    align-items: center;
    margin: 1em;
}

.left img {
    border-radius: 20px;
    width: 100%;
}

.parag{
    text-align: center;
    padding: 0 2em;
    font-size: smaller;
}

.right {
    /* background-color: aqua; */
    display: flex;
    width: 40%;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}

.card-title{
    text-align: center;
}

.forgot{
    text-align: end;
}

